@font-face {
    font-family: "Bad-Boys";
    src: url("../../assets/fonts/Bad-Boys.ttf.woff") format("woff"),
      url("../../assets/fonts/Bad-Boys.ttf.svg") format("svg"),
      url("../../assets/fonts/Bad-Boys.ttf.eot") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
  }