footer {
    p{
        display: inline-block;
        margin: 0 1rem;
    }
  }


  .footer__icons {
    font-size: 1.5rem;
    margin-right: 1rem;
  }

  @each $red, $color in $redes {
    .footer__icons#{$red}{
      color: $color;
      font-size: 1.5rem;
      margin-right: 1rem;
      text-decoration: none;
    }
  }